<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="50px"
     fxLayoutGap.xs="0">

  <div class="item item-1 f" fxFlex="65%">Item 1</div>
    
    <div class="item item-3 f" fxFlex>
      <div class="container2"
           fxLayout
           fxLayout.xs="column"
           fxLayoutAlign="center"
           fxLayoutGap="10px"
           fxLayoutGap.xs="0">
        <div class="item2 item-4 f" fxFlex fxFlexOffset="0px"  fxFlexOffset.xs="0">Item 4</div>
        <div class="item2 item-5 f" fxFlex="200px">Item 5</div>
      </div>
    </div>

  <div class="item item-3 f" fxFlex>Item 4</div>
  <div class="item item-2 f" fxFlex="20%" fxFlexOrder="3">Item 2</div>

</div>

<div style="width:200px;background-color: purple;">
  Hey  
</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-4 f" fxFlex fxFlexOffset="0px"  fxFlexOffset.xs="0">Item 4</div>
  <div class="item item-5 f" fxFlex="200px">Item 5</div>
</div>